/.metadata/
*.tree
Java/.metadata/.plugins/org.eclipse.core.resources/.projects/JogoDaMemoria/.indexes/e4/history.index
Java/.metadata/.plugins/org.eclipse.core.resources/.projects/JogoDaMemoria/.indexes/af/history.index
Java/.metadata/.plugins/org.eclipse.core.resources/.projects/JogoDaMemoria/.indexes/e4/8c/history.index
Java/.metadata/.plugins/org.eclipse.core.resources/.projects/JogoDaMemoria/org.eclipse.jdt.core/state.dat
Java/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Java/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
